/***** GENERELT / RESET *****/
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/***** HØJSKOLEOPHOLD *****/
header {
    width: 100vw;
    height: 100px;
    background-color: grey;

    -webkit-box-shadow: 10px 10px 10px -5px rgba(60, 60, 60, 0.3);
    -moz-box-shadow: 10px 10px 10px -5px rgba(60, 60, 60, 0.3);
    box-shadow: 10px 10px 10px -5px rgba(60, 60, 60, 0.3);
}

#logo {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin: 0 auto;
}
