/*********DESKTOP*************/
/***** GENERELT / RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}


/***** FONTS *****/
/*
font-family: proxima-nova,sans-serif;
font-weight: 400;
font-style: normal;*/

h1,
h2,
p,
ul {
    font-family: proxima-nova, sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
    color: #F8F8F8;
}

ul {
    padding-bottom: 20px;
}

body {

    background-color: grey;

}

main {
    margin: 10vw;
}

/***** JEAN NAVBAR START *****/
/***** INDEX / NAVBAR *****/
.index {
    /*    overflow: hidden;*/
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

header {
    position: sticky;
    top: 0;
    background-color: #A6C078;
    width: 100vw;
    z-index: 1000;
    /*    height: 3rem;*/
}


.splash {
    position: absolute;
    /*
    height: calc(100vh - 3rem);*/
    /*    width: 100%;*/
    /* background: url(img/landingpage/splash1.jpg) no-repeat top center / cover;*/
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 65rem;
    padding: 0 2rem;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 3rem;
}

.nav-btn {
    flex: 3;
    display: flex;
}

.nav-links {
    flex: 2;
}

.language {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
}

.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link > a {
    /*    line-height: 3rem;*/
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.nav-link > a > i {
    margin-left: .2rem;
}

.nav-link:hover > a {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown.third {
    width: 15rem;
}

.dropdown ul {
    position: relative;
}

.dropdown-link > a {
    display: flex;
    background-color: #A6C078;
    color: white;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.dropdown-link:not(:nth-last-child(1)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link:hover > a {
    background-color: white;
    color: #A6C078;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    cursor: pointer;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: white;
    border-radius: 3px;
}

.hamburger-menu div:before {
    transform: translateY(-7px)
}

.hamburger-menu div:after {
    transform: translateY(7px)
}

#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 9000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

/***** FORSIDE ******/

/**værdier**/
.wp-block-group__inner-container .wp-block-group__inner-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.8rem;
    margin-left: -30%;
}


/**kort om ihs**/
.wp-block-group__inner-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.kort_om_os_text {
    padding-bottom: 20px;
}

.wp-block-button {
    font-size: 1.3rem;
    background-color: rgb(255, 167, 0);
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border-radius: 20px;
}

.wp-block-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    transition: transform .3s;
}

.wp-block-button__link {
    color: #F8F8F8;
}

.wp-block-button:hover {
    transform: scale(1.2);
}

/**udtagelser**/
.person-1 {
    text-align: center;
    padding-bottom: 50px;


}

.person-1 img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    flex-basis: 40%;
}

.person-1 p {
    font-size: 2rem;
}

.person-2 {
    text-align: center;
    padding-bottom: 50px;
}

.person-2 img {
    width: 20%;
    height: auto;
    border-radius: 50%
}

.person-2 p {
    font-size: 2rem;
}

.person-3 {
    text-align: center;
    padding-bottom: 50px;
}

.person-3 img {
    width: 20%;
    height: auto;
    border-radius: 50%
}

.person-3 p {
    font-size: 2rem;
}

/***** VIVI START *****/
/***** HØJSKOLEOPHOLD *****/
header {
    -webkit-box-shadow: 10px 10px 10px -5px rgba(60, 60, 60, 0.3);
    -moz-box-shadow: 10px 10px 10px -5px rgba(60, 60, 60, 0.3);
    box-shadow: 10px 10px 10px -5px rgba(60, 60, 60, 0.3);
}

#logo {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin: 0 auto;
}

.section-content {
    width: 100vw;
    height: auto;
    background-color: grey;
    padding: 30px;
}

.section-content img {
    background-color: lightgrey;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.section-content p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
    color: #F8F8F8;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 20px;
}

p {
    color: #F8F8F8;

}

.section-content video {
    background-color: lightgrey;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #F29F05;
    color: #F8F8F8;

    width: auto;
    height: 45px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 30px;
}

button:hover {
    background-color: #F29F05;
    box-shadow: 0px 8px 15px rgba(60, 60, 60, 0.3);
    color: #F8F8F8;
    transform: translateY(-5px);
}

/***** UGEKURSER START *****/

/*** TABEL ***/
#kurser-tabel table,
th,
td {
    width: 50vw;
    border: 1px solid black;
    border-collapse: collapse;
}

#kurser-tabel th,
td {
    padding: 15px;
}



/***** UGEKURSER SLUT *****/



/***** KONTAKTFORMULAR *****/
@import url(https://fonts.googleapis.com/css?family=Raleway);

$red: #ff4d54;
$white: #fff;

body {
    background-color: #f6ede5;
}

a,
p {
    font-family: 'Raleway', sans-serif;
}

@mixin perspective($pixels) {
    -webkit-perspective: $pixels;
    -moz-perspective: $pixels;
    -o-perspective: $pixels;
    perspective: $pixels;
}

@mixin transition($speed) {
    -webkit-transition: -webkit-transform $speed;
    -moz-transition: -moz-transform $speed;
    -o-transition: -o-transform $speed;
    transition: transform $speed;
}

@mixin transform-style() {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@mixin transform($degrees) {
    -webkit-transform: rotateX($degrees + deg);
    -moz-transform: rotateX($degrees + deg);
    -o-transform: rotateX($degrees + deg);
    transform: rotateX($degrees + deg);
}

@mixin backface-visibility() {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cont-contactInfo {
    float: left;
    padding-right: 5%;
    width: 45%;

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
        font-weight: normal;
        text-transform: uppercase;
    }

    h4.section {
        margin: 30px 0 0;
    }

    p {
        margin: 0;
    }

    p > a {
        text-transform: uppercase;
        font-weight: bold;
    }

    .social-icons {
        list-style: none;
        margin: 5px 0 0;
        padding: 0;

        li {
            float: left;
            margin-right: 3px;

            a {
                background-image: url("../images/sprite_social_icons.png");
                background-repeat: no-repeat;
                display: block;
                height: 28px;
                width: 29px;
            }

            a:hover {
                opacity: .8;
            }

            a.icon_twitter {
                background-position: -33px 0;
            }

            a.icon_linkedin {
                background-position: -68px 0;
            }

            a.icon_youtube {
                background-position: -102px 0;
            }

            a.icon_pinterest {
                background-position: -135px 0;
            }

            a.icon_vimeo {
                background-position: -169px 0;
            }

            a.icon_instagram {
                background-position: -204px 0;
            }
        }
    }
}

.cont-contactBtn {
    height: 359px;
    margin: 0 auto;
    width: 574px;
    position: relative;

    @include perspective(800px);

    .cont-flip {
        position: absolute;
        @include transition(.5s);
        @include transform-style();
        height: 100%;
        width: 100%;
        border: 1px solid #ccc;

        .front,
        .back {
            display: block;
            margin: 0;
            height: 100%;
            width: 100%;
            position: absolute;

            @include backface-visibility;
        }

        .front {
            background-color: $red;
        }

        .back {
            background-color: $white;
            @include transform(180);
        }
    }

    .btn {
        margin-top: 155px;
    }

    .cont-flip.flipped {
        @include transform(180);
    }

    .contact-form {


        input,
        textarea {
            border: 1px solid #808080;
            font-size: 12px;
            padding: 10px 0;
            text-transform: uppercase;
        }

        input[type="text"] {
            float: left;
            margin-bottom: 8px;
            padding-left: 3%;
            width: 44.9%;
        }

        .gutter {
            margin-right: 2.8%;
            color: aliceblue;
        }

        textarea {
            height: 106px;
            padding-left: 3%;
            margin-bottom: 22px;
            width: 96.2%;
        }

        input[type="submit"] {
            background-color: $red;
            border: none;
            color: $white;
            height: 45px;
            width: 100%;
            max-width: 93px;
            text-align: center;
        }

    }

    .close {
        display: block;
        height: 19px;
        width: 19px;
        background-image: url('https://i.imgur.com/WoKg12q.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 15px;
        right: 3%;
    }
}

.btn {
    border: 3px $white solid;
    color: $white;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 280px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}

/***KontaktformularSim***/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    transition: transform .3s;

}

input[type=submit] {
    background-color: rgb(255, 167, 0);
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
}

input[type=submit]:hover {
    transform: scale(1.2);
}


/***** SIMONE START *****/
footer {
    bottom: 0;
}

/*********/

.footer-all {
    background-color: #A8BF78;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-all .footer-left,
.footer-all .footer-center,
.footer-all .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-all .footer-left {
    width: 40%;
}

.footer-all h3 {
    color: #000000;
    margin: 0;
}

.footer-all h3 span {
    color: #000000;
}


.footer-all .footer-links {
    color: #000000;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-all .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}



.footer-all .footer-center {
    width: 35%;
}

.footer-all .footer-center i {
    background-color: #A8BF78;
    color: #000000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-all .footer-center i {
    font-size: 17px;
    line-height: 38px;
}

.footer-all .footer-center p {
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin: 0;
}

.footer-all .footer-center p {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-all .footer-center p a {
    color: #000000;
    text-decoration: none;
    ;
}

.footer-all .footer-right {
    width: 20%;
}



.footer-all .footer-icons {
    margin-top: 25px;
}

.footer-all .footer-icons a img {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
}





/***** MEDIA QUERY MOBIL START *****/
@media (max-width: 920px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #A8BF78;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links > ul {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
    }

    .nav-link > a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a {
        text-decoration: underline;
    }

    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #7a8b55;
        display: none;
    }

    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #525d3a;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }


    .dropdown-link > a {
        background-color: transparent;
        color: white;
        padding: 1.2rem 2rem;
    }

    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(1)) {
        border-bottom: none;
    }

    dropdown-link:hover > a {
        background-color: white;
        color: #A6C078;
    }


    .language {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
    }

    /************************værdier forside****************/
    .wp-block-group__inner-container .wp-block-group__inner-container {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .frontpage-values p {
        text-align: center;

    }

    /**udtagelser**/
    .person-1 {
        text-align: center;
        padding-bottom: 50px;


    }

    .person-1 img {
        width: 60%;
        height: auto;
        border-radius: 50%;
        flex-basis: 40%;
    }

    .person-1 p {
        font-size: 2rem;
    }

    .person-2 {
        text-align: center;
        padding-bottom: 50px;
    }

    .person-2 img {
        width: 60%;
        height: auto;
        border-radius: 50%
    }

    .person-2 p {
        font-size: 2rem;
    }

    .person-3 {
        text-align: center;
        padding-bottom: 50px;
    }

    .person-3 img {
        width: 60%;
        height: auto;
        border-radius: 50%
    }

    .person-3 p {
        font-size: 2rem;
    }

}


@media (max-width: 880px) {


    .footer-all {
        font: bold 14px sans-serif;

    }

    .footer-all .footer-left,
    .footer-all .footer-center,
    .footer-all .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-all .footer-center i {
        margin-left: 0;
    }



}


/***** MEDIA QUERY DESKTOP SLUT *****/
